@use 'variables' as vars;

// Responsive Mixins
@mixin respond-to($breakpoint) {
    @if $breakpoint ==mobile {
        @media (max-width: vars.$breakpoint-mobile) {
            @content;
        }
    }

    @else if $breakpoint ==desktop {
        @media (min-width: vars.$breakpoint-desktop) {
            @content;
        }
    }
}

// Grid Mixin
@mixin grid-layout($columns: auto-fill, $min-width: 170px) {
    display: grid;
    grid-template-columns: repeat(#{$columns}, minmax(#{$min-width}, 1fr));
    gap: vars.$spacing-md;
}